
.icon-right-small:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-left-big:before { content: '\e804'; } /* '' */
.icon-glass:before { content: '\e805'; } /* '' */
.icon-right-big:before { content: '\e806'; } /* '' */
.icon-truck:before { content: '\e807'; } /* '' */
.icon-meetup:before { content: '\e808'; } /* '' */
.icon-mail-1:before { content: '\e809'; } /* '' */
.icon-adult:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
