$background-theme: #fff;
$menu-theme: #fff;
$button-theme: #111;
$font-color: #111;
$box-shadow: #9D9D9D;
$hover-color: #4B6587;

body {
    width: 100vw;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: $background-theme;
    color: $font-color;
    
    .menu {
        z-index: 10;
        height: 100vh;
        position: fixed;
        width: 300px;
        right: -350px;
        text-align: center;
        background: $menu-theme;
        transition: .4s ease-in-out;
        box-shadow: 0px 0px 15px 0px $box-shadow;
        
        &.toggled {
            right: 0;
            visibility: visible;
        }
        
        ul {
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            margin: 0;
            list-style-type: none;
            
            li {
                margin-top: 10px;
                margin-bottom: 10px;
                
                a {
                    display: block;
                    text-decoration: none;
                    font-size: 1.4em;
                    color: $font-color;
                    transition: .4s ease-in-out;
                    
                    &:hover {
                        transform: translateX(3px);
                        color: $hover-color;
                    }
                }
            }
        }
    }

    .wrapper {
        overflow: hidden;
        height: 100vh;
        background: $background-theme;

        .container {
            position: relative;
            width: 100vw;
            height: 100vh;
            transition: .4s ease-in-out;
            
            .main-header {
                z-index: 5;
                position: fixed;
                width: 50vw;
                right: 0;
                display: flex;
                justify-content: space-between;
                background: $background-theme;
                // transition: .4s ease-in-out;
    
                .logo {
                    margin: 30px;
                    font-size: 1.2em;
                    position: relative;
                    display: flex;
                    align-items: center;
    
                    a {
                        text-decoration: none;
                        color: $font-color;
                        transition: .2s ease-in-out;
    
                        &:hover {
                            color: $hover-color;
                        }
                    }
                }
    
                .toggle {
                    margin: 30px;
                    display: flex;
                    align-items: center;
                    font-size: 1.7em;
                    cursor: pointer;
                    transition: .4s ease-in-out;
                }
            }

            &.active {
                transform: translateX(-300px);
            }
    
            .banner-image {
                width: 50vw;
                height: 100vh;
                object-fit: cover;
                object-position: center;
                img {
                    z-index: 10;
                    display: block;
                    object-fit: cover;
                }
            }
    
            .content {
                position: relative;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 50vw;
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .title {
                    line-height: 60px;
                    margin: 0 30px 0 30px;
                    font-size: 4em;
                    font-weight: 700;
                }
    
                .sub-title {
                    margin: 10px 30px 0 30px;
                    text-transform: uppercase;
                    font-size: 1.8em;
                    font-weight: 600;
                }
    
                p {
                    margin: 6px 30px 0 30px;
                    margin-bottom: 0;
                    font-size: 1.2em;
                }
    
                a {
                    display: block;
                    width: fit-content;
                    align-items: center;
                    background: $button-theme;
                    margin: 15px 0 0 30px;
                    padding: 12px 30px;
                    color: $background-theme;
                    text-decoration: none;
                    font-size: 1.2em;
                    transition: .3s ease-in-out;
    
                    &:hover {
                        background: $hover-color;
                    }
                }
            }
    
            .social-media-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 1;
                position: absolute;
                bottom: 0;
                right: 0;
                transition: .5s ease-in-out;

                ul {
                    display: flex;
                    list-style-type: none;
                    padding: 30px;
                    margin: 0;
                    
                    li {
                        margin-right: 20px;
    
                        &:last-child {
                            margin-right: 0;
                        }
    
                        a {
                            font-size: 1.3em;
                            color: $font-color;
                            transition: .2s ease-in-out;

                            &:hover {
                                color: $hover-color;
                            }
                        }
                    }
                }
            }

            @media (max-width: 1000px) {
                .banner-image {
                    width: 30vw;
                }

                .content {
                    width: 70vw;
                }

                .main-header {
                    width: 70vw;
                }
            }

            @media (max-width: 800px) {
                .banner-image {
                    width: 100vw;
                    opacity: .3;
                }

                .main-header {
                    width: 100vw;
                }

                .social-media-footer {
                    width: 100vw;
                    justify-content: center;
                    background: $background-theme;
                }

                .content {
                    width: 100vw;

                    .title {
                        margin-left: 40px;
                        word-wrap: break-word;
                    }

                    .sub-title {
                        margin-left: 40px;
                    }

                    p {
                        margin-left: 40px;
                    }

                    a {
                        margin-left: 40px;
                    }
                }
            }

            @media (max-width: 505px) {
                .content {
                    .title {
                        font-size: 3em;
                        line-height: 40px;
                    }

                    .sub-title {
                        font-size: 1.5em;
                    }
                }
            }

            @media (max-width: 385px) {
                .content {
                    .title {
                        font-size: 2.6em;
                    }
                }
            }

            @media (max-width: 385px) {
                .content {
                    .title {
                        margin-left: 20px;
                        margin-right: 5px;
                    }

                    .sub-title {
                        margin-left: 20px;
                        margin-right: 5px;
                    }

                    p {
                        margin-left: 20px;
                    }

                    a {
                        margin-left: 20px;
                    }
                }   
            }
        }
    }
}