body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

body .container .contact-box {
  max-width: 850px;
  margin: 90px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #eee;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

body .container .contact-box textarea {
  font-family: sans-serif;
}

body .container .contact-box .left {
  height: 100%;
  background: url("../../resources/contact/banner.jpg");
  background-size: cover;
  background-position: center;
}

body .container .contact-box .right {
  position: relative;
  padding: 25px 40px;
  height: 100%;
}

body .container .contact-box .right h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

body .container .contact-box .right h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background: #be0000;
}

body .container .contact-box .right .field {
  width: 90%;
  padding: 1em 1em 1em 1em;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background: rgba(230, 230, 230, 0.6);
  font-size: 1.1em;
  margin-bottom: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

body .container .contact-box .right .field#email {
  margin-bottom: 7px;
}

body .container .contact-box .right .field:hover {
  background: rgba(0, 0, 0, 0.1);
}

body .container .contact-box .right .field:focus {
  background: #fff;
  border: 2px solid #be0000;
}

body .container .contact-box .right .field.area {
  min-height: 150px;
}

body .container .contact-box .right .btn {
  padding: .5em 3em;
  font-size: 1.1em;
  background: #be0000;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  color: #fff;
}

body .container .contact-box .right .btn:hover {
  background: #BD4B4B;
}

body .container .contact-box .right #text {
  position: relative;
  display: inline-block;
  width: 90%;
  font-size: 1em;
  text-align: left;
}

@media screen and (max-width: 880px) {
  body .container .contact-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .container .contact-box .left {
    height: 200px;
  }
}

body .container.active {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}
/*# sourceMappingURL=style.css.map */