$background-theme: #fff;
$button-theme: #111;
$font-color: #111;
$box-shadow: #9D9D9D;
$hover-color: #4B6587;
$contrast-font-color: #fff;

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        width: 100vw;
        text-align: center;
        transition: .4s ease-in-out;

        .contact-box {
            max-width: 850px;
            margin: 90px 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            text-align: center;
            background: #eee;
            box-shadow: 0px 0px 19px 5px rgba(0,0,0,.15);
            overflow: hidden;

            textarea {
                font-family: sans-serif;
            }

            .left {
                height: 100%;
                background: url('../../resources/contact/banner.jpg');
                background-size: cover;
                background-position: center;
            }

            .right {
                position: relative;
                padding: 25px 40px;
                height: 100%;

                h2 {
                    position: relative;
                    padding-bottom: 10px;
                    margin-bottom: 20px;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        height: 4px;
                        width: 50px;
                        border-radius: 2px;
                        background: #be0000;
                    }
                }

                .field {
                    width: 90%;
                    padding: 1em 1em 1em 1em;
                    outline: none;
                    border: 2px solid rgba(0,0,0,0);
                    background: rgba(230, 230, 230, .6);
                    font-size: 1.1em;
                    margin-bottom: 22px;
                    transition: .3s;

                    &#email {
                        margin-bottom: 7px;
                    }

                    &:hover {
                        background: rgba(0,0,0,.1);
                    }

                    &:focus {
                        background: #fff;
                        border: 2px solid #be0000;
                    }

                    &.area {
                        min-height: 150px;
                    }
                }
                .btn {
                    padding: .5em 3em;
                    font-size: 1.1em;
                    background: #be0000;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    transition: .5s ease-in-out;
                    color: #fff;

                    &:hover {
                        background: #BD4B4B;
                    }
                }

                #text {
                    position: relative;
                    display: inline-block;
                    width: 90%;
                    font-size: 1em;
                    text-align: left;
                }
            }

            @media screen and (max-width: 880px) {
                grid-template-columns: 1fr;
        
                .left {
                    height: 200px;
                }
            }
        }

        &.active {
            transform: translateX(-300px);
        }
    }
}