body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}
body .container .contact-box {
  max-width: 850px;
  margin: 65px 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
body .container .contact-box textarea {
  font-family: sans-serif;
}
body .container .contact-box .left {
  height: 100%;
  background: url("../../resources/contact/banner.jpg");
  background-size: cover;
  background-position: center;
}
body .container .contact-box .right {
  position: relative;
  padding: 25px 40px;
  height: 100%;
}
body .container .contact-box .right h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
body .container .contact-box .right h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background: #be0000;
}
body .container .contact-box .right .field {
  width: 90%;
  padding: 1em 1em 1em 1em;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background: rgba(230, 230, 230, 0.6);
  font-size: 1.1em;
  margin-bottom: 22px;
  transition: 0.3s;
}
body .container .contact-box .right .field#email {
  margin-bottom: 7px;
}
body .container .contact-box .right .field:hover {
  background: rgba(0, 0, 0, 0.1);
}
body .container .contact-box .right .field:focus {
  background: #fff;
  border: 2px solid #be0000;
}
body .container .contact-box .right .field.area {
  min-height: 150px;
}
body .container .contact-box .right .btn {
  padding: 0.5em 3em;
  font-size: 1.1em;
  background: #be0000;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.5s ease-in-out;
  color: #fff;
}
body .container .contact-box .right .btn:hover {
  background: #BD4B4B;
}
body .container .contact-box .right #text {
  position: relative;
  display: inline-block;
  width: 90%;
  font-size: 1em;
  text-align: left;
}
@media screen and (max-width: 880px) {
  body .container .contact-box {
    grid-template-columns: 1fr;
    margin-top: 90px;
  }
  body .container .contact-box .left {
    height: 200px;
  }
}
body .container .more-options-box {
  text-align: left;
  margin: 0;
  max-width: 450px;
}
@media screen and (max-width: 1360px) {
  body .container .more-options-box {
    max-width: 850px;
    width: 100%;
    margin: 0 20px 0 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }
  body .container .more-options-box .divider {
    width: 10% !important;
  }
}
@media screen and (max-width: 760px) {
  body .container .more-options-box {
    max-width: unset;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}
body .container .more-options-box .title {
  font-size: 2em;
  margin-bottom: 5px;
}
body .container .more-options-box .divider {
  width: 40%;
  height: 4px;
  display: block;
  background-color: #4B6587;
}
body .container .more-options-box ul {
  list-style-type: none;
  padding: 0;
}
body .container .more-options-box ul li {
  font-size: 1.4em;
  margin: 8px 0 8px 0;
  font-weight: 500;
}
body .container .more-options-box a {
  text-decoration: none;
  color: #111;
}
body .container .more-options-box a i {
  font-size: 2em;
}
body .container.active {
  transform: translateX(-300px);
}/*# sourceMappingURL=style.css.map */