@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

$background-theme: #fff;
$button-theme: #111;
$font-color: #111;
$box-shadow: #9D9D9D;
$hover-color: #4B6587;
$contrast-font-color: #eee;
$contrast-background: #171717;
$second-hover-color: #C9CCD5;

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: $button-theme;

    &::before {
        content: '';
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -100;
        background-color: $font-color;
        overflow: hidden;
    }

    &.gallery-active {
        overflow: hidden;

        &::before {
            z-index: 1000;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        text-align: center;
        transition: .4s ease-in-out;
        overflow-x: hidden;
        background-color: $background-theme;

        // #section-title-banner indicates which section is in preview when one section ends and the next starts
        #section-title-banner {
            position: fixed;
            top: 0;
            color: $contrast-font-color;
            padding: 0;
            z-index: -10;
            user-select: none;
            transition: 1s ease-in-out;
            opacity: 0;
            font-size: 8em;
            text-shadow: 4px 4px $font-color;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            font-family: 'Allison', cursive;
            cursor: default;
            pointer-events: none;
            transition: .5s ease-in-out;
            
            &.active {
                width: 100%;
                height: 100%;
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 100000;
                transition: .5s ease-in-out;
            }
        }

        #button-right {
            position: fixed;
            cursor: pointer;
            z-index: 10001;
            top: 50%;
            right: 20px;
            border: none;
            outline: none;
            padding: 12px;
            background: $background-theme;
            transform: translateY(-50%);
            margin: 0;
            transition: .5s ease-in-out;
            transition-delay: .3s;
            border-radius: 50%;
            opacity: .7;
            box-shadow: 0 0 15px 0 $font-color;

            &:hover {
                transition-delay: 0s;
                opacity: 1;
            }

            &.hidden {
                right: -300px;
                opacity: 0;
            }
        }

        #button-left {
            position: fixed;
            cursor: pointer;
            z-index: 10001;
            top: 50%;
            left: 20px;
            border: none;
            outline: none;
            padding: 12px;
            border-radius: 50%;
            background: $background-theme;
            transform: translateY(-50%);
            margin: 0;
            transition: .5s ease-in-out;
            transition-delay: .3s;
            opacity: .7;
            box-shadow: 0 0 15px 0 $font-color;

            &:hover {
                transition-delay: 0s;
                opacity: 1;
            }

            &.hidden {
                left: -300px;
                opacity: 0;
            }
        }

        &.active {
            transform: translateX(-300px);
        }

        section {
            width: 100vw;

            &:nth-of-type(1) {
                margin-top: 80px;
            }

            &.parallax {
                width: 100vw;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;

                .heading {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        margin: 0;
                        padding: 50px;
                        font-size: 4em;
                        font-weight: 900;
                        color: $contrast-font-color;
                        text-shadow: 4px 4px $font-color;
                    }
                }
    
                &:nth-of-type(1) {
                    background-image: url('../../resources/gallery/weddings/wedding-gallery-banner.jpg');
                }
    
                &:nth-of-type(3) {
                    background-image: url('../../resources/gallery/events/event-gallery-banner.jpg');
                }
    
                &:nth-of-type(5) {
                    background-image: url('../../resources/gallery/portraits/portrait-gallery-banner.jpg');
                }
    
                &:nth-of-type(7) {
                    background-image: url('../../resources/gallery/business/business-gallery-banner.jpg');
                }
            }

            &.vanilla {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 3em;

                .cards {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                }

                .card {
                    cursor: pointer;
                    max-width: 30vw;
                    width: 100%;
                    height: 40vh;
                    margin: 1em;
                    margin-bottom: 0;

                    &.preview {
                        position: fixed;
                        top: 0;
                        right: 0;
                        left: 0;
                        z-index: 10000;
                        max-width: unset;
                        width: 100vw;
                        height: 100%;
                        margin: 0;
                        cursor: default;
                        animation: animate 2s ease 0s 1 normal none;
                        transition: 0s;
                        
                        img {
                            position: absolute;
                            bottom: 50%;
                            right: 0;
                            left: 0;
                            transform: translateY(50%);
                            object-fit: contain;
                        }

                        &:hover img {
                            opacity: 1;
                        }
                    }

                    &:hover img {
                        opacity: .9;
                    }

                    &.hidden {
                        height: 0;
                        width: 0;
                        margin: 0;

                        h2 {
                            visibility: hidden;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    @keyframes animate {
                        from {
                            opacity: 0;
                        } 
                        to {
                            opacity: 1;
                        }
                    }

                    @media screen and (max-width: 960px) {
                        max-width: 45vw;
                    }
    
                    @media screen and (max-width: 700px) {
                        max-width: 80vw;
                    }
                }

                .show-less-button,
                .show-more-button {
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    z-index: 1;
                    font-size: 1.2em;
                    font-weight: 900;
                    transition: .3s ease-in-out;
                    color: $hover-color;
                    width: fit-content;
                    margin: 1em auto 1em auto;
                    transition: 5s ease-in-out;

                    &.hide {
                        transform: translateY(-500px);
                        display: none;
                    }
        
                    &::after {
                        content: '';
                        display: block;
                        width: 30%;
                        height: 4px;
                        background-color: $second-hover-color;
                        transition: .4s ease-in-out;
                    }
        
                    &:hover::after {
                        width: 100%;
                        background-color: $hover-color;
                    }
                }
            }
        }
    }
}