html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
}

body::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  background-color: #fff;
}

body.gallery-active {
  overflow: hidden;
}

body.gallery-active::before {
  z-index: 1000;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  text-align: center;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  overflow: hidden;
  background-color: #fff;
}

body .container #button-right {
  position: fixed;
  cursor: pointer;
  z-index: 10001;
  top: 50%;
  right: 20px;
  border: none;
  outline: none;
  padding: 12px;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  border-radius: 50%;
  opacity: .7;
  -webkit-box-shadow: 0 0 15px 0 #111;
          box-shadow: 0 0 15px 0 #111;
}

body .container #button-right:hover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

body .container #button-right.hidden {
  right: -300px;
  opacity: 0;
}

body .container #button-left {
  position: fixed;
  cursor: pointer;
  z-index: 10001;
  top: 50%;
  left: 20px;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  opacity: .7;
  -webkit-box-shadow: 0 0 15px 0 #111;
          box-shadow: 0 0 15px 0 #111;
}

body .container #button-left:hover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

body .container #button-left.hidden {
  left: -300px;
  opacity: 0;
}

body .container.active {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

body .container section {
  width: 100vw;
}

body .container section:nth-child(3) {
  margin-top: 80px;
}

body .container section.parallax {
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .container section.parallax .heading {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container section.parallax .heading h2 {
  margin: 0;
  padding: 50px;
  font-size: 4em;
  font-weight: 900;
  color: #eee;
  text-shadow: 4px 4px #111;
}

body .container section.parallax:nth-child(3) {
  background-image: url("../../resources/gallery/weddings/wedding-gallery-banner.jpg");
}

body .container section.parallax:nth-child(5) {
  background-image: url("../../resources/gallery/events/event-gallery-banner.jpg");
}

body .container section.parallax:nth-child(7) {
  background-image: url("../../resources/gallery/portraits/portrait-gallery-banner.jpg");
}

body .container section.parallax:nth-child(9) {
  background-image: url("../../resources/gallery/business/business-gallery-banner.jpg");
}

body .container section.vanilla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
}

body .container section.vanilla .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container section.vanilla .card {
  cursor: pointer;
  max-width: 30vw;
  width: 100%;
  height: 40vh;
  margin: 1em;
  margin-bottom: 0;
}

body .container section.vanilla .card.preview {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  max-width: unset;
  width: 100vw;
  height: 100%;
  margin: 0;
  cursor: default;
  -webkit-animation: animate 2s ease 0s 1 normal none;
          animation: animate 2s ease 0s 1 normal none;
  -webkit-transition: 0s;
  transition: 0s;
}

body .container section.vanilla .card.preview img {
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -o-object-fit: contain;
     object-fit: contain;
}

body .container section.vanilla .card.preview:hover img {
  opacity: 1;
}

body .container section.vanilla .card:hover img {
  opacity: .9;
}

body .container section.vanilla .card.hidden {
  height: 0;
  width: 0;
  margin: 0;
}

body .container section.vanilla .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@-webkit-keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  body .container section.vanilla .card {
    max-width: 45vw;
  }
}

@media screen and (max-width: 700px) {
  body .container section.vanilla .card {
    max-width: 80vw;
  }
}

body .container section.vanilla .show-less-button,
body .container section.vanilla .show-more-button {
  text-align: center;
  display: block;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2em;
  font-weight: 900;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #4B6587;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto 1em auto;
  -webkit-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

body .container section.vanilla .show-less-button.hide,
body .container section.vanilla .show-more-button.hide {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  display: none;
}

body .container section.vanilla .show-less-button::after,
body .container section.vanilla .show-more-button::after {
  content: '';
  display: block;
  width: 30%;
  height: 4px;
  background-color: #C9CCD5;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

body .container section.vanilla .show-less-button:hover::after,
body .container section.vanilla .show-more-button:hover::after {
  width: 100%;
  background-color: #4B6587;
}
/*# sourceMappingURL=gallery.css.map */