@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

$background-theme: #fff;
$button-theme: #111;
$font-color: #111;
$box-shadow: #9D9D9D;
$hover-color: #4B6587;
$contrast-font-color: #eee;
$contrast-background: #171717;
$second-hover-color: #C9CCD5;

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

    .container {
        min-height: 100vh;
        overflow-x: hidden;
        position: relative;
        width: 100vw;
        transition: .4s ease-in-out;
        background: $background-theme;

        &.active {
            transform: translateX(-300px);
        }

        .content {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap-reverse;

            img {
                max-width: 600px;
                padding: 20px;
            }

            .contentText {
                margin-right: 0;
                margin-left: 0;
                max-width: 500px;

                @media screen and (max-width: 700px) {
                    margin-left: 40px;
                    margin-right: 40px;

                    .contentTitle {
                        line-height: 70px;
                    }
                }

                .contentTitle {
                    font-size: 5em;
                    font-weight: 900;
                    margin: 0;
                    font-family: 'Allison', cursive;
                }

                .contentParagraph {
                    font-size: 1.4em;
                    font-weight: 300;
                    margin-bottom: 30px;
                    margin-top: 0;
                }
            }
        }
    }
}